@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?u6jv7r');
    src:  url('../fonts/icomoon.eot?u6jv7r#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?u6jv7r') format('truetype'),
      url('../fonts/icomoon.woff?u6jv7r') format('woff'),
      url('../fonts/icomoon.svg?u6jv7r#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
.icon.ink-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 16px;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  #toolbar .button .icon.ink-icon{
  font-size: 12pt;
  }
  .icon.icon.ink-icon::before{
      font-family: 'icomoon';
  }


  .icon-category-flat:before {
    content: "\e900";
  }
  .icon-category:before {
    content: "\e901";
  }
  .icon-function-flat-scaled:before {
    content: "\e902";
  }
  .icon-function-flat:before {
    content: "\e903";
  }
  .icon-function-scaled:before {
    content: "\e904";
  }
  .icon-function:before {
    content: "\e905";
  }
  .icon-knot-flat-scaled:before {
    content: "\e906";
  }
  .icon-knot-flat:before {
    content: "\e907";
  }
  .icon-knot-scaled:before {
    content: "\e908";
  }
  .icon-knot:before {
    content: "\e909";
  }
  .icon-stitch-flat-scaled:before {
    content: "\e90a";
  }
  .icon-stitch-flat:before {
    content: "\e90b";
  }
  .icon-stitch-scaled:before {
    content: "\e90c";
  }
  .icon-stitch:before {
    content: "\e90d";
  }
  