.window.dark #main,
.window.dark #editor,
.window.dark #toolbar {
    background-color: #333;
}

.window.dark #main .sidebar,
.window.dark #main .sidebar .footer {
    background-color: #282828;
}

.window.dark h1.title {
    color: white;
}


.window.dark #main .sidebar .filename,
.window.dark #main .sidebar .footer .add-include-button,
.window.dark #main .sidebar .footer .new-include-form h5 {
    color: #888;
}

.window.dark #main .sidebar .nav-group-item.active {
    background: #666;
}

.window.dark #main .sidebar .nav-group-item.active .filename {
    color: #CCC;
}

.window.dark #toolbar .button:hover .icon {
    color: #CCC;
}

/* e.g. filename input */
.window.dark #main .sidebar .footer input {
    background: #333;
    border: 1px solid #888;
    color: #888;
}

.window.dark #main .sidebar .footer .checkbox {
    color: #888;
}



.window.dark #toolbar {
    border-bottom: 1px solid #888;
}

.window.dark #toolbar div.issuesSummary .issueCount {
    color: #888;
}

.window.dark #main .sidebar .footer {
    border-top: 1px solid #555;
}


.window.dark .ace_editor .ace_marker-layer .ace_selection {
    background-color: #444;
}

.window.dark .ace_editor .ace_marker-layer .ace_selected-word {
    background-color: #999;
    border-color: #dedede;
}

.window.dark #editor,
.window.dark #player,
.window.dark .ace_editor .ace_cursor {
    color: #f0f0f0;
}

.window.dark .ace_editor .ace_indent-guide {
    opacity: .1;
}

.window.dark .ace_editor .ace_marker-layer .ace_active-line {
    background-color: rgba(255, 255, 255, 0.05);
}

.window.dark #player hr {
    border-top-color: #444;
}

.window.dark #player p.choice a:hover {
    color: #999;
}

.window.dark #editor .ace_gutter-layer,
.window.dark .split {
    background: #444;
}

.window.dark #editor .ace-error {
    background: darkred;
}

.window.dark #editor .ace_todo,
.window.dark #editor .ace-todo {
    background: darkcyan;
}

.window.dark .ace_editor span.ace_flow.ace_declaration,
.window.dark .ace_editor span.ace_divert,
.window.dark .ace_editor span.ace_choice.ace_bullets,
.window.dark .ace_editor span.ace_choice.ace_label,
.window.dark .ace_editor span.ace_choice.ace_weaveBracket,
.window.dark .ace_editor span.ace_gather.ace_bullets,
.window.dark .ace_editor span.ace_gather.ace_label,
.window.dark .ace_editor span.ace_glue,
.window.dark .ace_editor span.ace_include,
.window.dark .ace_editor span.ace_external {
  color: cyan;
}

.window.dark .ace_editor span.ace_var-decl,
.window.dark .ace_editor span.ace_list-decl,
.window.dark .ace_editor span.ace_logic:not(.ace_innerContent) {
  color: lightgreen;
}

.window.dark #main.hideTags .ace_editor span.ace_tag {
    color: #333;
}

/* scrollbars */
.window.dark *::-webkit-scrollbar {
	width: auto;
}

.window.dark *::-webkit-scrollbar-track,
.window.dark *::-webkit-scrollbar-track-piece,
.window.dark *::-webkit-scrollbar-corner,
.window.dark *::-webkit-resizer {
	background-color: #222;
}

.window.dark *::-webkit-scrollbar-thumb {
	background-color: #777;
	transition: background-color 0.6s;
	box-shadow: inset 0px 0px 10px 0px #00000061;
}

.window.dark *::-webkit-scrollbar-thumb:hover {
	background-color: #999;
	transition: background-color 0.6s;
}

/* Issues Pop-up */
#toolbar .issue-popup {
    background-color: #222;
    border-color: #444;
}

#toolbar .issue-popup img.nubbin {
    filter: brightness(12%);
}

#toolbar .issue-popup .row:hover {
background: #444;
}

#toolbar .issue-popup .row {
    border-bottom-color: #333;
}

#toolbar .issue-popup .line-no {
    background: #222;
    color: #ccc;
    border-right-color: #333;
}
