 body {
            margin: 0;
            font-family: Helvetica, sans-serif;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #f1f1f1;
            position: fixed;
            height: 100%;
            overflow: auto;
        }

        li a {
            display: block;
            color: #000;
            padding: 8px 0 8px 8px;
            text-decoration: none;
        }
        li a.nav-h1 {
            font-weight: 700;
        }
        li a.nav-h2 {
            font-weight: 600;
        }
        li a.nav-h3 {
             font-weight: 400;
        }
        li a.nav-h4 {
             font-weight: 400;
        }
        li a.nav-h5 {
            font-weight: 400;
        }
        li a.nav-h6 {
             font-weight: 400;
        }