#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Categories=Development;IDE;
Name=Inky
Comment=Story-writing tool
Exec=/opt/inky/Inky
Path=/opt/inky/
Icon=inky
