body {
    font-family: sans-serif;
    font-weight: lighter;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

.container {
    display: block;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

p, a {
    color: gray;
    line-height: 1.7em;
    font-size: 13pt;
}

p {
    opacity: 0.0;
    transition: opacity 1.0s;
}

p.show {
    opacity: 1.0;
}

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}