
body {
    font-family: sans-serif;
    font-weight: lighter;
    background: white;
}

h1 {
    text-align: center;
    font-weight: lighter;
    font-size: 30pt;
}

/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
.outerContainer {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.container {
    display: block;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
}

p {
    font-size: 16pt;
}

p, a {
    color: gray;
    line-height: 1.7em;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.container .hide {
    opacity: 0.0;
}

.container * {
    opacity: 1.0;
    transition: opacity 1.0s;
}

p.choice {
    text-align: center;
}

a:hover {
    color: black;
}